<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Manager</title>
</head>
<body>
<div align="center">
    <h1>User Manager</h1>

    <h3>
        <a href="/new_user">New User</a>
    </h3>

    <table border="1" cellpadding="5">
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>LAST NAME</th>
            <th>AGE</th>
            <th>EMAIL</th>
            <th>ACTION</th>
        </tr>
        <tr th:each="user : ${allUsers}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.age}"></td>
            <td th:text="${user.email}"></td>
            <td>
                <a th:href="@{/edit(id=${user.id})}">Edit</a>
                &nbsp;&nbsp;&nbsp;
                <a th:href="@{/delete(id=${user.id})}">Delete</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
